<div class="__footer">
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?url=http://adonisjs.com&text=I am using AdonisJs, a practical MVC framework for nodejs&hashtags=nodejs,adonisframework" target="_blank">
        <img src="/assets/twitter.svg">
      </a>
    </li>
    <li>
      <a href="https://github.com/adonisjs/adonis-framework" target="_blank"><img src="/assets/github.svg"></a>
    </li>
  </ul>
</div>