{% extends 'master' %}

{% block content %}
<h1>Person all</h1>

{{ linkToAction('PersonController.create', 'New Person', { class : 'btn btn-primary' }) }}

<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Lastname</th>
		<th>Age</th>
	</tr>

	{% for person in people %}
	<tr>
		<td>{{ person.name }}</td>
		<td>{{ person.lastname }}</td>
		{% if person.age > 20 %}
			<td>De maior: {{ person.age }}</td>
		{% else %}
			<td>{{ person.age }}</td>
		{% endif %}

	</tr>
	{% endfor %}

</table>
{% endblock %}