{% extends 'master' %}

{% block content %}
	<h2>Showing Person - {{ person.name }} {{ person.id }}</h2>	
	<br>
	<br>

	Lastname: {{ person.lastname }}
	<br>
	
	Age: {{ person.age }}
	<br>
	{{ linkToAction('PersonController.index', 'View all people') }}
	
{% endblock %}